/*--------------------------------------------
  -                blog-css                -
  --------------------------------------------*/  
   
#blog-area{
  margin-top: 3%;

	.blog-hadding{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 30px;
    .blog-hadding-left{
      p{
        font-size: 16px;
        display: inline-block;
        float: left;
        margin-left: 10px;
      }
      span{
         color: $grayColor;
      }
    }
    .blog-hadding-right{
      float: right;
      margin-right: 10px;

      a i{
        padding:0 8px;
        font-size: 1em;
      }
    }
  }
  .blog-post-S{
    margin-top: 5%;
  }
  .single-blog-post:last-chlid{
   background: red;
  }
  .blog-hadding-right{}
	.single-blog-post{   
    
    float:right;
    width: 48%;
    margin: 5% 1%; 
    display: inline-block;


       h3{
        font-size: 18px;
        margin:2% 15%;
      }
      span:nth-of-type(1){
        color: $grayColor;
      }
      p:nth-of-type(1){
     
      }
      p{
        margin:2% 10%;
        font-size: 13px;
        font-weight: bold;
      }
    .single-blog-post-bg{
      img{
        width: 100%;
      }
    }
    .leargGG{
      height: 350px; 
      overflow: hidden;
    }
    .smallgGG{
      height: 230px; 
      overflow: hidden;
    }
    .float_l{
      
    }
    .float_r{
      
    }
 
	}
  .gar_suja{
    margin-top:38px;
  }
  .gar_tera{
    margin: -435px 0 0 0;
  }
 

.latest-blog-post{

      margin: 10% 0;
      border: 1px solid $grayColor;
      width: 90%;
      height: 545px;
      float: right;
      position: relative;
      text-align: left;

    .latest-blog-postS{
    	margin-top: 15%;
    }  

     h3{
	    position: absolute;
        background: #fff;
        left: 27%;
        top: -2%;
        padding:0 20px;
        font-size: 18px;
	}
 
	.latest-single-post{
       display: flex;
       


 
	.l_blog_po_bg{

       width:40%;
       height: 100px;
       overflow: hidden;
       margin: 0 0 0 10%; 
 

		img{

			width: 90%;

		}
	}
	.l_blog_po_cont{
		width: 60%;
	}

	h4{
		font-size: 15px;
		margin: 9% 15% 0 0;
	}
	h5{
		font-size: 14px;
		margin: 5% 15% 5% 0;
		color: $grayColor;
	}


	}
 

}
.blog-follow{
	  margin: 10% 0;
      border: 1px solid $grayColor;
      width: 90%;
      height: 150px;
      float: right;
      position: relative;
      text-align: left;

	h3{
	 position: absolute;
        background: #fff;
        left: 23%;
        top: -6%;
        padding:0 20px;

	}
	.follow-items{
		margin-top: 18%;
	}
	a i{
		border: 1px solid black;
		border-radius: 50%;
		font-size: 1.5em;
		padding: 10px;
	}

}
.blog-newsletter{
		  margin: 10% 0;
      border: 1px solid $grayColor;
      width: 90%;
      height: 200px;
      float: right;
      position: relative;
      text-align: left;

    h3{
    	 position: absolute;
        background: #fff;
        left: 23%;
        top: -6%;
        padding:0 20px;	
    }
    p{
      font-size: 14px;
      font-weight: bold;
      margin: 15% 10% 8% 10%;
    }
    input{
    	width: 60%;
    	padding-left: 10px;
    } 
    ::placeholder{
    	font-size: 10px;
    	padding-left: 10px;
    } 

}
 
  
.blog-bTn a{
   background: $fontColor;
   padding: 10px 40px; 
   font-size: 14px;
   font-weight: bold;
   border-radius: 20px;
   color: #fff; 
} 

}