 #header-area{
  
 
 .navbar{
 	height:70px;
 }
 .logo h1{
  font-size: 25px;
 }
 span{
 	color: red;
 	font-weight: bolder;
 }
 #navigation{
    margin: 0;
    padding: 0;

   li{
   	display: block;
   }
 	li ul{

	visibility : hidden;
	position   : absolute;
	display    : none;
	margin-left: 1%;
   
 	}
 	li:hover > ul,
 	ul li ul:hover {
     display: block;
     visibility: visible;
 	}
 	li ul li{
 		clear: both;
 		width: 100%;

 		a{
 			color: $fontColor;
 			font-weight: bold;
 			background: black;
 		}
 	}
 	a{
 		 color: $fontColor;
 		font-weight: bold;
 	}
 }
 .social-icon{
 	position: relative;

 	a i{
			font-size: 1em;
			padding:10px;
			height: 40px;
			width: 40px;
			float: right;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			color:white;
			background: #353B48;
 	}

 	.search_Bar{
 		position: absolute;
 		top:.9%;
 		right: 99.5%;
 	}

 .searchbar{
    margin-bottom: auto;
    margin-top: auto;
 
    background-color: #353b48;
    border-radius: 30px;
 
    }

    .search_input{
   
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding-left:20px;
    width:200px;
    caret-color:red;
    transition: width 0.4s linear;

    }

    .searchbar:hover > .search_icon{
    
    color: #e74c3c;
     }

    .search_icon{
		height: 40px;
		width: 40px;
		float: right;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color:white;
		 
	}
 }

 
 }