 #header-area{
  
 
 .navbar{
 	height:70px;
 }
 .logo h1{
  font-size: 25px;
 }
 span{
 	color: red;
 	font-weight: bolder;
 }
 #navigation{
    margin: 0;
    padding: 0;

   li{
   	display: block;
   }
 	li ul{

	visibility : hidden;
	position   : absolute;
	display    : none;
	margin-left: 1%;
   
 	}
 	li:hover > ul,
 	ul li ul:hover {
     display: block;
     visibility: visible;
 	}
 	li ul li{
 		clear: both;
 		width: 100%;

 		a{
 			color: $fontColor;
 			font-weight: bold;
 			background: black;
 		}
 	}
 	a{
 		 color: $fontColor;
 		font-weight: bold;
 	}
 }
 
 }