/*--------------------------------------------
  -                reset_code                -
  --------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: #263843;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

#pray_btn {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 12px;
  background: #263843;
  color: #fff;
  border-radius: 20px;
}

#header-area .navbar {
  height: 70px;
}
#header-area .logo h1 {
  font-size: 25px;
}
#header-area span {
  color: red;
  font-weight: bolder;
}
#header-area #navigation {
  margin: 0;
  padding: 0;
}
#header-area #navigation li {
  display: block;
}
#header-area #navigation li ul {
  visibility: hidden;
  position: absolute;
  display: none;
  margin-left: 1%;
}
#header-area #navigation li:hover > ul,
#header-area #navigation ul li ul:hover {
  display: block;
  visibility: visible;
}
#header-area #navigation li ul li {
  clear: both;
  width: 100%;
}
#header-area #navigation li ul li a {
  color: #263843;
  font-weight: bold;
  background: black;
}
#header-area #navigation a {
  color: #263843;
  font-weight: bold;
}

#slider-area {
  height: 45vh;
  overflow: hidden;
  margin: 3% 0 0 0;
}

.slide_item {
  position: relative;
}

.slider_text {
  position: absolute;
  top: 20%;
  margin: 0 20%;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.widget-hadding h3 {
  margin: 3% 0;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
.widget-hadding h3:before {
  border-bottom: 1px solid #C1C4C6;
  position: absolute;
  content: "";
  width: 35%;
  margin: 1.1% 0 0 0;
  left: 9%;
}
.widget-hadding h3:after {
  border-bottom: 1px solid #C1C4C6;
  position: absolute;
  content: "";
  width: 35%;
  right: 9%;
  margin: 1.1% 0 0 0;
}

.slider-single-widget {
  margin-bottom: 10%;
}
.slider-single-widget h6 {
  background: #C1C4C6;
  color: #fff;
  padding: 2px 10px;
  margin: 7% 0 2% 0;
  display: inline-block;
  font-size: 14px;
}
.slider-single-widget p {
  margin: 0 10%;
  font-weight: bold;
}

.slider-single-widget-bg {
  height: 230px;
  overflow: hidden;
}
.slider-single-widget-bg img {
  width: 100%;
}

/*--------------------------------------------
  -                about_css                -
  --------------------------------------------*/
#about-area {
  margin-top: 2%;
}
#about-area .about-left-bg {
  height: 400px;
  overflow: hidden;
}
#about-area .about-left-bg img {
  width: 100%;
}
#about-area .about-left-content h3 {
  margin: 3% 25% 1% 25%;
  font-size: 20px;
}
#about-area .about-left-content h4 {
  font-size: 13px;
  margin: 2% 0 3% 0;
}
#about-area .about-left-content span {
  color: #C1C4C6;
}
#about-area .about-left-content p {
  margin: 2% 5%;
  font-weight: bold;
  font-size: 14px;
}
#about-area .about-right-content {
  border: 1px solid #C1C4C6;
  width: 90%;
  height: 300px;
  float: right;
  position: relative;
}
#about-area .about-right-content h3 {
  position: absolute;
  background: #fff;
  left: 30%;
  top: -6%;
  padding: 0 20px;
}
#about-area .about-right-content .about-right-bg {
  margin: 10% 0 0 0;
  height: 150px;
  overflow: hidden;
}
#about-area .about-right-content .about-right-bg img {
  width: 80%;
}
#about-area .about-right-content p {
  margin: 5% 15%;
  font-weight: bold;
  font-size: 14px;
}
#about-area .about-right-content a {
  border-bottom: 1px solid #C1C4C6;
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 10px 0;
}

.about-right-category {
  margin: 10% 0;
  border: 1px solid #C1C4C6;
  width: 90%;
  height: 300px;
  float: right;
  position: relative;
  text-align: left;
}
.about-right-category h3 {
  position: absolute;
  background: #fff;
  left: 25%;
  top: -6%;
  padding: 0 20px;
}
.about-right-category p {
  margin: 10% 12%;
}
.about-right-category p:hover {
  color: #C1C4C6;
}
.about-right-category span {
  margin-left: 20%;
  float: right;
  color: #C1C4C6;
}

/*--------------------------------------------
  -                blog-css                -
  --------------------------------------------*/
#blog-area .blog-hadding {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#blog-area .blog-hadding .blog-hadding-left p {
  font-size: 20px;
  display: inline-block;
  float: left;
}
#blog-area .single-blog-post {
  width: 48%;
  display: inline-block;
  margin: 3% 0;
}
#blog-area .single-blog-post .single-blog-post-bg img {
  width: 100%;
}
#blog-area .single-blog-post h3 {
  font-size: 18px;
  margin: 5% 0 2% 0;
}
#blog-area .single-blog-post p:nth-of-type(1) {
  font-size: 13px;
}
#blog-area .single-blog-post span {
  color: #C1C4C6;
}
#blog-area .single-blog-post p:nth-of-type(2) {
  font-size: 14px;
  font-weight: bold;
  margin: 2.5% 10%;
}
#blog-area .single-blog-post .small_gg {
  height: 235px;
  overflow: hidden;
}
#blog-area .single-blog-post .leargGG {
  overflow: hidden;
  height: 320px;
}
#blog-area .blog-bTn {
  padding-top: 10%;
}
#blog-area .blog-bTn a {
  font-size: 15px;
  border: 1px solid black;
  padding: 7px 40px;
  margin-top: 20%;
  font-weight: bold;
}
#blog-area .float_l {
  float: right;
}
#blog-area .float_r {
  float: left;
}
#blog-area .latest-blog-post {
  margin: 10% 0;
  border: 1px solid #C1C4C6;
  width: 90%;
  height: 545px;
  float: right;
  position: relative;
  text-align: left;
}
#blog-area .latest-blog-post .latest-blog-postS {
  margin-top: 15%;
}
#blog-area .latest-blog-post h3 {
  position: absolute;
  background: #fff;
  left: 27%;
  top: -2%;
  padding: 0 20px;
  font-size: 18px;
}
#blog-area .latest-blog-post .latest-single-post {
  display: flex;
}
#blog-area .latest-blog-post .latest-single-post .l_blog_po_bg {
  width: 40%;
  height: 100px;
  overflow: hidden;
  margin: 0 0 0 10%;
}
#blog-area .latest-blog-post .latest-single-post .l_blog_po_bg img {
  width: 90%;
}
#blog-area .latest-blog-post .latest-single-post .l_blog_po_cont {
  width: 60%;
}
#blog-area .latest-blog-post .latest-single-post h4 {
  font-size: 15px;
  margin: 9% 15% 0 0;
}
#blog-area .latest-blog-post .latest-single-post h5 {
  font-size: 14px;
  margin: 5% 15% 5% 0;
  color: #C1C4C6;
}
#blog-area .blog-follow {
  margin: 10% 0;
  border: 1px solid #C1C4C6;
  width: 90%;
  height: 150px;
  float: right;
  position: relative;
  text-align: left;
}
#blog-area .blog-follow h3 {
  position: absolute;
  background: #fff;
  left: 23%;
  top: -6%;
  padding: 0 20px;
}
#blog-area .blog-follow .follow-items {
  margin-top: 18%;
}
#blog-area .blog-follow a i {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 10px;
}
#blog-area .blog-newsletter {
  margin: 10% 0;
  border: 1px solid #C1C4C6;
  width: 90%;
  height: 200px;
  float: right;
  position: relative;
  text-align: left;
}
#blog-area .blog-newsletter h3 {
  position: absolute;
  background: #fff;
  left: 23%;
  top: -6%;
  padding: 0 20px;
}
#blog-area .blog-newsletter p {
  font-size: 14px;
  font-weight: bold;
  margin: 15% 10% 8% 10%;
}
#blog-area .blog-newsletter input {
  width: 60%;
  padding-left: 10px;
}
#blog-area .blog-newsletter ::placeholder {
  font-size: 10px;
  padding-left: 10px;
}

/*--------------------------------------------
  -                reset_code                -
  --------------------------------------------*/
#bottom-bottom {
  background: #263843;
  height: 110px;
  margin-top: 5%;
}
#bottom-bottom .bottom-nav {
  padding-top: 3%;
}
#bottom-bottom .bottom-nav li {
  display: inline-block;
}
#bottom-bottom .bottom-nav a {
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
}
#bottom-bottom .back-to-top {
  float: right;
  margin-top: -50px;
  margin-right: 73px;
}
#bottom-bottom .back-to-top a i {
  font-size: 2em;
  right: 0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
